In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json

In [80]:
api_keys = json.load(open('api_keys.json', 'r'))

# 1. 주소 있는 데이터 읽어서 확인

In [14]:
df = pd.read_csv('./jonmat2017.csv')
df = df[df.columns[:-1]]

In [15]:
df = df[~df.주소.isnull()]
df[:3]

,총연번,의원번호,의원명,당,당ID,지역명,연월일,내역,지출액,사용처,분류,주소,의원지출액순위
345,17_001545,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.1.11,지역현안관련정책개발보좌직원간담회,"105,000",또래오래치킨,사무실_식대비,서울특별시 영등포구 여의대방로68길 17,4
346,17_001554,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.1.17,상임위법안소위관련보좌직원정책개발간담회,"160,000",청도,사무실_식대비,서울특별시 영등포구 여의도동 45-20 동북빌딩 203-204,4
347,17_001556,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.1.17,정책개발기자간담회,"350,000",잔비어스,언론_기자식대등,서울특별시 강남구 개포로 623,4

In [16]:
df['주소'] = df['주소'].apply(lambda x: x.strip() if type(x)==str else None)
df['지출액'] = df['지출액'].apply(lambda x: int(x.replace(',','')))

# 2. 주소 있는것 지오코딩

In [19]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key=api_keys['google_maps'])

In [20]:
def get_geocode(addr):
    geocode_result = gmaps.geocode(addr)
    if len(geocode_result) > 0:
        return geocode_result[0]['geometry']['location']
    else:
        return {'lat':0,'lng':0}

In [38]:
uniq = df['주소'].unique()

In [43]:
try:
    addr_dict = json.load(open('geocode_dict.json', 'r'))
except:
    addr_dict = {}

In [44]:
for addr in uniq:
    if addr in addr_dict:
        continue
    addr_dict[addr] = get_geocode(addr)

In [45]:
json.dump(addr_dict, open('geocode_dict.json', 'w'))

In [46]:
for enum in enumerate(addr_dict):
    if enum[0] > 2:
        break
    print(enum)

(0, '서울특별시 영등포구 여의대방로68길 17')
(1, '서울특별시 영등포구 여의도동 45-20 동북빌딩 203-204')
(2, '서울특별시 강남구 개포로 623')

In [49]:
df_latlng = df['주소'].apply(lambda x: pd.Series({f:addr_dict[x][f] for f in ['lat','lng']}))
df_latlng[:3]

           lat         lng
345  37.517729  126.932872
346  37.519623  126.928920
347  37.493935  127.079623

In [54]:
df = pd.concat([df, df_latlng], axis=1)

In [56]:
df[:3].T

,345,346,347
총연번,17_001545,17_001554,17_001556
의원번호,5,5,5
의원명,강석호,강석호,강석호
당,자유한국당,자유한국당,자유한국당
당ID,200,200,200
지역명,경북 영양군영덕군봉화군울진군,경북 영양군영덕군봉화군울진군,경북 영양군영덕군봉화군울진군
연월일,2017.1.11,2017.1.17,2017.1.17
내역,지역현안관련정책개발보좌직원간담회,상임위법안소위관련보좌직원정책개발간담회,정책개발기자간담회
지출액,105000,160000,350000
사용처,또래오래치킨,청도,잔비어스
분류,사무실_식대비,사무실_식대비,언론_기자식대등
주소,서울특별시 영등포구 여의대방로68길 17,서울특별시 영등포구 여의도동 45-20 동북빌딩 203-204,서울특별시 강남구 개포로 623
의원지출액순위,4,4,4
lat,37.5177,37.5196,37.4939
lng,126.933,126.929,127.08

# 3. 같은좌표의 다른 주소 표현
(도로명, 건물명, 띄어쓰기 등)

In [57]:
def uniq_cnt(l):
    return len(l.unique())

In [83]:
addr_grouped = df.groupby(['사용처','lat','lng'])\
                .agg({'주소':[lambda x: len(x.unique()), min]})
addr_grouped[:3]

                                        주소
                                  <lambda>                   min
사용처          lat       lng
(주)거구상사      37.552459 126.937826        1      서울특별시 마포구 백범로 23
(주)미가케이터링컴퍼니 37.519749 126.929719        1    서울특별시 영등포구 의사당대로 1
(주)밥보        37.530234 126.921678        1  서욽특별시 영등포구 여의도동 13-3

In [84]:
addr_grouped.columns = ['uniq_cnt','addr']

In [104]:
addr_grouped = addr_grouped.query("uniq_cnt > 1").reset_index()
addr_grouped[:3]

              사용처        lat         lng  uniq_cnt                   addr
0  (주)이랜드파크켄싱턴여의도  37.530234  126.921678         2  서울특별시 영등포구 국회대로76길 16
1       (주)커피빈코리아  37.437736  126.786437         2  경기도 시흥시 산천로 100번안길 16
2           고래와새우  37.529955  126.919895         3  서울특별시 영등포구 국회대로 70길 7

In [119]:
def change_addr(series_place):
    print(df_all[df_all.사용처==series_place['사용처']])

In [120]:
addr_grouped[:3].apply(change_addr, axis=1)

             총연번  의원번호     의원명       당   당ID              지역명         연월일  \
404    17_001836     5     강석호   자유한국당   200  경북 영양군영덕군봉화군울진군   2017.6.15
2659   17_017916   355  김선동(서)   자유한국당   200          서울 도봉구을   2017.3.31
3773   17_022850    44     김영주  더불어민주당   100         서울 영등포구갑    2017.4.6
3937   17_024203    48     김용태   자유한국당   200          서울 양천구을    2017.3.5
4709   17_029024   372     김종회    국민의당  2050        전북 김제시부안군   2017.8.31
4736   17_029148   372     김종회    국민의당  2050        전북 김제시부안군  2017.10.18
6457   17_041186    97     민병두  더불어민주당   100         서울 동대문구을   2017.10.9
8658   17_057385   140     서청원   자유한국당   200          경기 화성시갑   2017.3.31
8688   17_057541   140     서청원   자유한국당   200          경기 화성시갑    2017.9.6
9521   17_062609   406     송영길  더불어민주당   100          인천 계양구을   2017.1.25
9524   17_062623   406     송영길  더불어민주당   100          인천 계양구을    2017.2.7
9550   17_062735   406     송영길  더불어민주당   100          인천 계양구을   2017.4.13
9564   17_062835   406     송영길  더불어민주당   100          인천 계양구을   2017.6.16
9568   17_062848   406     송영길  더불어민주당   100          인천 계양구을   2017.6.22
9570   17_062865   406     송영길  더불어민주당   100          인천 계양구을   2017.6.30
9573   17_062872   406     송영길  더불어민주당   100          인천 계양구을    2017.7.5
9575   17_062891   406     송영길  더불어민주당   100          인천 계양구을   2017.7.25
9578   17_062905   406     송영길  더불어민주당   100          인천 계양구을   2017.7.27
9582   17_062929   406     송영길  더불어민주당   100          인천 계양구을   2017.8.10
9584   17_062935   406     송영길  더불어민주당   100          인천 계양구을   2017.8.14
9593   17_063005   406     송영길  더불어민주당   100          인천 계양구을   2017.9.25
9595   17_063012   406     송영길  더불어민주당   100          인천 계양구을   2017.9.26
9600   17_063044   406     송영길  더불어민주당   100          인천 계양구을  2017.10.31
9601   17_063047   406     송영길  더불어민주당   100          인천 계양구을   2017.11.1
9605   17_063068   406     송영길  더불어민주당   100          인천 계양구을  2017.11.14
9606   17_063071   406     송영길  더불어민주당   100          인천 계양구을  2017.11.15
9610   17_063090   406     송영길  더불어민주당   100          인천 계양구을  2017.11.22
9698   17_063345   408     송희경   자유한국당   200             비례대표    2017.2.7
9720   17_063470   408     송희경   자유한국당   200             비례대표    2017.6.9
11488  17_076191   181     유기준   자유한국당   200            부산 서구  2017.12.18
13700  17_091960   434     이용득  더불어민주당   100             비례대표   2017.4.12
15641  17_102570   248     이학영  더불어민주당   100           경기 군포시   2017.9.18
15961  17_105498   449     임종성  더불어민주당   100          경기 광주시을    2017.2.6
16962  17_111292   272     정성호  더불어민주당   100       경기 양주시동두천시    2017.9.5
16967  17_111300   272     정성호  더불어민주당   100       경기 양주시동두천시   2017.9.14
16968  17_111301   272     정성호  더불어민주당   100       경기 양주시동두천시   2017.9.14
20602  17_130105   310     홍문종   자유한국당   200         경기 의정부시을   2017.2.22

                                   내역      지출액             사용처        분류  \
404          인구감소지역발전특별법관련정책개발보좌직원간담회  196,000  (주)이랜드파크켄싱턴여의도    간담회_식대
2659        대선관련당내정치현안관련하여동료의원들과간담회조찬  310,000  (주)이랜드파크켄싱턴여의도    간담회_식대
3773                               식대   30,000  (주)이랜드파크켄싱턴여의도    간담회_식대
3937        바른정당탄핵정국비상시국정책간담회(김용태외4인)  145,000  (주)이랜드파크켄싱턴여의도    간담회_식대
4709                    국민의당농해수위의원간담회   59,600  (주)이랜드파크켄싱턴여의도    간담회_식대
4736                          전북의원간담회  230,000  (주)이랜드파크켄싱턴여의도    간담회_식대
6457           사회적대타협과국민행복지수간담회(2인참석)   59,800  (주)이랜드파크켄싱턴여의도    간담회_식대
8658       발안지역도서관확충관련간담회부대비용(참석인원2명)   58,000  (주)이랜드파크켄싱턴여의도    간담회_식대
8688          사드배치현안관련간담회부대비용(참석인원2명)   48,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9521                      전,현직의원현안간담회  209,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9524                          안보관련간담회  160,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9550                          안보현안간담회  200,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9564                         원자력정책간담회  120,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9568                         러시아현안간담회  110,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9570                  먹고사는문제연구모임조찬간담회  170,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9573                          외교현안간담회  110,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9575                  먹고사는문제연구모임조찬간담회  230,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9578                          수산정책간담회  120,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9582                   평창동계올림픽지원방안간담회  310,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9584                      러시아에너지관련간담회   90,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9593                        4차산업관련간담회   90,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9595                         러시아현안간담회   80,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9600                          금융분야간담회  110,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9601                          환경분야간담회  110,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9605                          국방현안간담회  170,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9606                       사회적경제현안간담회   90,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9610                       문화,관광현안간담회  230,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9698            2/10대정부질문관련1차사전회의(3명)   43,000  (주)이랜드파크켄싱턴여의도    간담회_식대
9720   4차산업혁명포럼2017년하반기운영계획논의간담회(12명)  356,000  (주)이랜드파크켄싱턴여의도    간담회_식대
11488                       정책논의기자단오찬   48,000  (주)이랜드파크켄싱턴여의도  언론_기자식대등
13700                   4차산업혁명관련전문가회의   31,000  (주)이랜드파크켄싱턴여의도    간담회_식대
15641                 박의원공정위원장금융위원장조찬  170,000  (주)이랜드파크켄싱턴여의도    간담회_식대
15961                    국토교통위관련회의다과비   72,000  (주)이랜드파크켄싱턴여의도    간담회_다과
16962                       국회의원현안간담회   31,800  (주)이랜드파크켄싱턴여의도    간담회_식대
16967                     국정감사대비의원간담회   39,800  (주)이랜드파크켄싱턴여의도    간담회_식대
16968                     국정감사대비의원간담회   29,800  (주)이랜드파크켄싱턴여의도    간담회_식대
20602        탄핵정국대선대비당원외인사간담회(홍문종외2인)  184,400  (주)이랜드파크켄싱턴여의도    간담회_식대

                          주소  의원지출액순위 Unnamed: 13
404     서울특별시 영등포구 여의도동 13-3        4         NaN
2659                     NaN       33         NaN
3773                     NaN       94         NaN
3937                     NaN      116         NaN
4709                     NaN       65         NaN
4736                     NaN       65         NaN
6457                     NaN       38         NaN
8658   서울특별시 영등포구 국회대로76길 16        5         NaN
8688   서울특별시 영등포구 국회대로76길 16        5         NaN
9521                     NaN       54         NaN
9524                     NaN       54         NaN
9550                     NaN       54         NaN
9564                     NaN       54         NaN
9568                     NaN       54         NaN
9570                     NaN       54         NaN
9573                     NaN       54         NaN
9575                     NaN       54         NaN
9578                     NaN       54         NaN
9582                     NaN       54         NaN
9584                     NaN       54         NaN
9593                     NaN       54         NaN
9595                     NaN       54         NaN
9600                     NaN       54         NaN
9601                     NaN       54         NaN
9605                     NaN       54         NaN
9606                     NaN       54         NaN
9610                     NaN       54         NaN
9698                     NaN      125         NaN
9720                     NaN      125         NaN
11488                    NaN       64         NaN
13700                    NaN       13         NaN
15641                    NaN       79         NaN
15961                    NaN       35         NaN
16962                    NaN       27         NaN
16967                    NaN       27         NaN
16968                    NaN       27         NaN
20602                    NaN      121         NaN
             총연번  의원번호  의원명       당  당ID        지역명         연월일  \
703    17_004185   337  곽대훈   자유한국당  200    대구 달서구갑   2017.6.22
2754   17_018182   356  김성수  더불어민주당  100       비례대표   2017.3.24
2755   17_018183   356  김성수  더불어민주당  100       비례대표   2017.3.24
2917   17_018483   356  김성수  더불어민주당  100       비례대표   2017.11.8
10398  17_066801   164  안민석  더불어민주당  100     경기 오산시    2017.4.9
11396  17_074204   177  우원식  더불어민주당  100    서울 노원구을    2017.5.1
14869  17_097206   238  이종걸  더불어민주당  100  경기 안양시만안구   2017.3.19
14970  17_097518   238  이종걸  더불어민주당  100  경기 안양시만안구  2017.10.25
14973  17_097525   238  이종걸  더불어민주당  100  경기 안양시만안구  2017.10.28
14988  17_097554   238  이종걸  더불어민주당  100  경기 안양시만안구   2017.11.8
17837  17_116044   467  제윤경  더불어민주당  100       비례대표   2017.2.11
17929  17_116251   467  제윤경  더불어민주당  100       비례대표    2017.5.8
17930  17_116252   467  제윤경  더불어민주당  100       비례대표    2017.5.8
17993  17_116415   467  제윤경  더불어민주당  100       비례대표   2017.7.25
19809  17_125558   481  최운열  더불어민주당  100       비례대표    2017.7.7

                       내역     지출액        사용처        분류                     주소  \
703    기자간담회음료(뉴스1국회출입기자)  26,600  (주)커피빈코리아  언론_기자식대등                    NaN
2754           대선관련기자단티타임  36,000  (주)커피빈코리아  언론_기자식대등  경기도 시흥시 신천로 100번안길 16
2755     더불어민주당경선관련기자단티타임  36,000  (주)커피빈코리아  언론_기자식대등  경기도 시흥시 신천로 100번안길 16
2917           기자단현안관련티타임  66,400  (주)커피빈코리아  언론_기자식대등  경기도 시흥시 산천로 100번안길 16
10398                 차담비  10,800  (주)커피빈코리아    간담회_다과                    NaN
11396  을지로위원회카드수수료관련회의_2명  10,800  (주)커피빈코리아    간담회_다과                    NaN
14869                  커피  13,300  (주)커피빈코리아    간담회_다과                    NaN
14970                 커피외  18,000  (주)커피빈코리아    간담회_다과                    NaN
14973                 커피외   8,000  (주)커피빈코리아    간담회_다과                    NaN
14988                 커피외  40,100  (주)커피빈코리아    간담회_다과                    NaN
17837          의정활동을위한차담회   9,800  (주)커피빈코리아    간담회_다과                    NaN
17929          의정활동을위한차담회  25,900  (주)커피빈코리아    간담회_다과                    NaN
17930          의정활동을위한차담회   5,500  (주)커피빈코리아    간담회_다과                    NaN
17993          의정활동을위한차담회   9,500  (주)커피빈코리아    간담회_다과                    NaN
19809      정책개발차담회(저출산극복)  14,500  (주)커피빈코리아    간담회_다과                    NaN

       의원지출액순위 Unnamed: 13
703        107         NaN
2754         6         NaN
2755         6         NaN
2917         6         NaN
10398       23         NaN
11396      146         NaN
14869       45         NaN
14970       45         NaN
14973       45         NaN
14988       45         NaN
17837       11         NaN
17929       11         NaN
17930       11         NaN
17993       11         NaN
19809       10         NaN
             총연번  의원번호     의원명       당  당ID           지역명         연월일  \
221    17_000626   332     강병원  더불어민주당  100       서울 은평구을   2017.5.12
224    17_000644   332     강병원  더불어민주당  100       서울 은평구을   2017.5.30
278    17_000811   332     강병원  더불어민주당  100       서울 은평구을   2017.9.21
614    17_003061   335     강훈식  더불어민주당  100       충남 아산시을   2017.5.22
618    17_003071   335     강훈식  더불어민주당  100       충남 아산시을   2017.5.29
619    17_003072   335     강훈식  더불어민주당  100       충남 아산시을   2017.5.29
625    17_003095   335     강훈식  더불어민주당  100       충남 아산시을   2017.6.14
631    17_003121   335     강훈식  더불어민주당  100       충남 아산시을   2017.6.28
633    17_003123   335     강훈식  더불어민주당  100       충남 아산시을   2017.6.29
634    17_003137   335     강훈식  더불어민주당  100       충남 아산시을    2017.7.4
636    17_003143   335     강훈식  더불어민주당  100       충남 아산시을   2017.7.10
639    17_003173   335     강훈식  더불어민주당  100       충남 아산시을   2017.7.31
642    17_003178   335     강훈식  더불어민주당  100       충남 아산시을    2017.8.3
677    17_003830   336     고용진  더불어민주당  100       서울 노원구갑   2017.11.7
1006   17_006617   342     금태섭  더불어민주당  100       서울 강서구갑  2017.11.15
1505   17_011045    25     김도읍   자유한국당  200     부산 북구강서구을   2017.4.20
1529   17_011324    25     김도읍   자유한국당  200     부산 북구강서구을    2017.7.4
1530   17_011325    25     김도읍   자유한국당  200     부산 북구강서구을    2017.7.4
1531   17_011326    25     김도읍   자유한국당  200     부산 북구강서구을    2017.7.4
1532   17_011329    25     김도읍   자유한국당  200     부산 북구강서구을    2017.7.5
1559   17_011519    25     김도읍   자유한국당  200     부산 북구강서구을    2017.9.1
1594   17_011705    25     김도읍   자유한국당  200     부산 북구강서구을  2017.11.13
2684   17_017983   355  김선동(서)   자유한국당  200       서울 도봉구을    2017.8.7
2726   17_018141   356     김성수  더불어민주당  100          비례대표   2017.2.21
3379   17_020609   359  김성태(비)   자유한국당  200          비례대표   2017.3.29
3676   17_022088   362     김승희   자유한국당  200          비례대표   2017.6.13
3868   17_023434   363     김영진  더불어민주당  100       경기 수원시병    2017.9.4
3935   17_024187    48     김용태   자유한국당  200       서울 양천구을   2017.2.27
4199   17_026244   367     김정재   자유한국당  200      경북 포항시북구    2017.3.3
4398   17_027861   369     김종민  더불어민주당  100  충남 논산시계룡시금산군   2017.8.29
...          ...   ...     ...     ...  ...           ...         ...
11762  17_078708   188     유은혜  더불어민주당  100    경기 고양시일산동구   2017.7.13
11768  17_078801   188     유은혜  더불어민주당  100    경기 고양시일산동구   2017.9.13
11771  17_078814   188     유은혜  더불어민주당  100    경기 고양시일산동구   2017.9.28
13843  17_092336   434     이용득  더불어민주당  100          비례대표   2017.9.27
14011  17_093793   226     이원욱  더불어민주당  100       경기 화성시을   2017.6.14
14183  17_094648   229     이인영  더불어민주당  100       서울 구로구갑    2017.9.8
14321  17_095774   440     이정미     정의당  730          비례대표    2017.2.8
14368  17_095916   440     이정미     정의당  730          비례대표   2017.4.24
14545  17_096326   440     이정미     정의당  730          비례대표   2017.12.7
15314  17_101025   444     이철희  더불어민주당  100          비례대표   2017.3.24
15402  17_101227   444     이철희  더불어민주당  100          비례대표   2017.7.13
15479  17_101462   444     이철희  더불어민주당  100          비례대표   2017.12.6
16900  17_111181   272     정성호  더불어민주당  100    경기 양주시동두천시   2017.3.15
16922  17_111218   272     정성호  더불어민주당  100    경기 양주시동두천시   2017.5.17
16936  17_111242   272     정성호  더불어민주당  100    경기 양주시동두천시   2017.6.14
16973  17_111307   272     정성호  더불어민주당  100    경기 양주시동두천시   2017.9.27
16986  17_111354   272     정성호  더불어민주당  100    경기 양주시동두천시  2017.11.29
17209  17_112677   276     정우택   자유한국당  200     충북 청주시상당구   2017.7.14
17536  17_115168   465     정춘숙  더불어민주당  100          비례대표    2017.3.9
17538  17_115173   465     정춘숙  더불어민주당  100          비례대표   2017.3.21
17550  17_115192   465     정춘숙  더불어민주당  100          비례대표    2017.4.7
17562  17_115216   465     정춘숙  더불어민주당  100          비례대표   2017.5.11
17586  17_115257   465     정춘숙  더불어민주당  100          비례대표    2017.7.3
17593  17_115279   465     정춘숙  더불어민주당  100          비례대표   2017.8.10
17619  17_115338   465     정춘숙  더불어민주당  100          비례대표  2017.11.14
17634  17_115383   466     정태옥   자유한국당  200        대구 북구갑   2017.1.10
18001  17_116453   467     제윤경  더불어민주당  100          비례대표   2017.8.24
18032  17_116564   467     제윤경  더불어민주당  100          비례대표  2017.10.19
20249  17_127814   484     추혜선     정의당  730          비례대표   2017.9.11
20273  17_127912   484     추혜선     정의당  730          비례대표  2017.11.29

                                  내역       지출액    사용처        분류  \
221         새로운민주정부의노동개혁방안모색간담회(11인)   239,000  고래와새우    간담회_식대
224            아시아의미래비전공유포럼준비회의(10인)   135,000  고래와새우    간담회_식대
278                  매일노동뉴스기자간담회(4인)    48,000  고래와새우  언론_기자식대등
614                          기자간담회식대   199,500  고래와새우  언론_기자식대등
618                          기자간담회식대   180,000  고래와새우  언론_기자식대등
619                          기자간담회식대     5,000  고래와새우  언론_기자식대등
625                          기자간담회식대   148,000  고래와새우  언론_기자식대등
631                          기자간담회식대   140,000  고래와새우  언론_기자식대등
633                          기자간담회식대   210,000  고래와새우  언론_기자식대등
634                          기자간담회식대   225,000  고래와새우  언론_기자식대등
636                          기자간담회식대   200,000  고래와새우  언론_기자식대등
639                          기자간담회식대   211,400  고래와새우  언론_기자식대등
642                          기자간담회식대   284,200  고래와새우  언론_기자식대등
677                           의원실간담회   196,000  고래와새우    간담회_식대
1006                        식비-기자간담회   183,000  고래와새우  언론_기자식대등
1505                        대선정국관련논의   174,600  고래와새우    간담회_식대
1529                            결제승인   200,000  고래와새우    간담회_식대
1530                       승인취소(7.4)  -200,000  고래와새우    간담회_식대
1531                국회출입기자단지역및정국현안논의   215,000  고래와새우  언론_기자식대등
1532                    국회상임위및지역현안논의   160,000  고래와새우    간담회_식대
1559                     국회출입기자단현안논의   313,000  고래와새우  언론_기자식대등
1594                 국회출입기자국정현안수렴및논의   135,000  고래와새우  언론_기자식대등
2684              국회포럼포용과도전주최관련간담회만찬   345,000  고래와새우    간담회_식대
2726          언론공정성실현모임의원및보좌진산년만찬간담회   450,000  고래와새우    간담회_식대
3379                  개인정보보호관련전문가간담회    25,000  고래와새우    간담회_식대
3676                           기자간담회    62,900  고래와새우  언론_기자식대등
3868                 기자오찬간담회(경인일보1인)    50,000  고래와새우  언론_기자식대등
3935       바른정당탄핵정국관련입장기자간담회(김용태외9인)   220,000  고래와새우  언론_기자식대등
4199                       현안관련기자간담회   165,000  고래와새우  언론_기자식대등
4398     기자간담회아주경제아시아경제문화일보서울경제머니투데이   175,000  고래와새우  언론_기자식대등
...                              ...       ...    ...       ...
11762               기지간담회(JTBC기자외7인)   190,000  고래와새우  언론_기자식대등
11768                기자간담회(뉴스1기자외7인)   200,000  고래와새우  언론_기자식대등
11771               기자간담회(한국일보기자외5인)   140,000  고래와새우  언론_기자식대등
13843                    환경현안관련기자간담회   125,000  고래와새우  언론_기자식대등
14011              국회출입한겨레기자단오찬/엄외4인   156,000  고래와새우  언론_기자식대등
14183                       기자간담회식사비   175,000  고래와새우  언론_기자식대등
14321                          기자간담회   110,000  고래와새우  언론_기자식대등
14368                     환노위출입기자간담회   170,000  고래와새우  언론_기자식대등
14545                     환경정책전문가간담회   111,700  고래와새우    간담회_식대
15314                        국회의원간담회   119,700  고래와새우    간담회_식대
15402                        국회의원간담회   105,000  고래와새우    간담회_식대
15479                      국회의원간담회식대   155,000  고래와새우    간담회_식대
16900                매일경제기자초청경제현안간담회   150,000  고래와새우  언론_기자식대등
16922                 국민일보국회출입기자단간담회   317,000  고래와새우  언론_기자식대등
16936         뉴스1,머니투데이등경제지국회출입기자간담회   269,000  고래와새우  언론_기자식대등
16973                    헤럴드경제기자단간담회   178,000  고래와새우  언론_기자식대등
16986                   내일신문기자단현안간담회   195,000  고래와새우  언론_기자식대등
17209                     정책협의관련간담회비   275,000  고래와새우    간담회_식대
17536                 성평등추진체계관련전문가면담    40,000  고래와새우    간담회_식대
17538   복지위출입기자간담회(한겨레등총3명참석/국민건강보험법    80,000  고래와새우  언론_기자식대등
17550                 정무위위원현안교류오찬간담회    55,000  고래와새우    간담회_식대
17562       현안교류의원간담회(국토위교문위위원총3명참석)    94,800  고래와새우    간담회_식대
17586  복지위출입기자간담회(TV조선등총6명참석/장애인활동지원   180,000  고래와새우  언론_기자식대등
17593   국회출입여성기자간담회(KBS등총4명참석/결혼중개업의   120,000  고래와새우  언론_기자식대등
17619   국회출입기자간담회(오아이뉴스등총5명참석/치매관리법등   140,000  고래와새우  언론_기자식대등
17634                     정책개발비(간담회)    30,800  고래와새우    간담회_식대
18001                    당내현안관련기자간담회   150,000  고래와새우  언론_기자식대등
18032                    당내현안관련기자간담회    80,000  고래와새우  언론_기자식대등
20249    정기국회대정부질의내용관련간담회(신당사무총장외3인)   151,000  고래와새우    간담회_식대
20273               파이로전문가검증단구성관련간담회   361,500  고래와새우    간담회_식대

                              주소  의원지출액순위 Unnamed: 13
221                          NaN       55         NaN
224                          NaN       55         NaN
278                          NaN       55         NaN
614                          NaN      111         NaN
618                          NaN      111         NaN
619                          NaN      111         NaN
625                          NaN      111         NaN
631                          NaN      111         NaN
633                          NaN      111         NaN
634                          NaN      111         NaN
636                          NaN      111         NaN
639                          NaN      111         NaN
642                          NaN      111         NaN
677                          NaN      193         NaN
1006                         NaN       24         NaN
1505                         NaN       22         NaN
1529                         NaN       22         NaN
1530                         NaN       22         NaN
1531                         NaN       22         NaN
1532                         NaN       22         NaN
1559                         NaN       22         NaN
1594                         NaN       22         NaN
2684                         NaN       33         NaN
2726   서울특별시 영등포구 여의도동 14-2 동아빌딩        6         NaN
3379                         NaN       78         NaN
3676                         NaN      110         NaN

0    None
1    None
2    None
dtype: object

# 기타(정리 안 함)

In [40]:
import requests
import json

In [90]:
df_all = pd.read_csv('jonmat2017.csv')
place_dict = {}

In [75]:
import requests
import json
import time

class NaverMaps():
    headers = {}
    url_format = "https://naveropenapi.apigw.ntruss.com/map-place/v1/"+\
        "search?query=%s&coordinate=126.929719,37.519749"
    
    def __init__(self, api_key_id, api_key):
        self.headers = {"X-NCP-APIGW-API-KEY-ID":api_key_id,
                        "X-NCP-APIGW-API-KEY":api_key,
                    }
    
    def search(self, query_string, retry=5):
        query_string = query_string.replace('#','')
        r = requests.get(self.url_format % query_string, headers=self.headers)
        d = json.loads(r.text)
        if d['status'] != 'OK':
            if retry > 0:
                print("%s retry: %s" % (place_name, retry))
                time.sleep(3)
                return self.search(query_string, retry=retry-1)
            else:
                raise BaseException(query_string, d)
        return d

In [77]:
m = NaverMaps(api_keys['naver_maps_id'], api_keys['naver_maps_key'])
r = m.search('비야게레로')
r

{'status': 'OK',
 'meta': {'totalCount': 1, 'count': 1},
 'places': [{'name': '비야게레로',
   'road_address': '서울특별시 강남구 봉은사로78길 12',
   'jibun_address': '서울특별시 강남구 삼성동 118-21 101호',
   'phone_number': '02-538-8915',
   'x': '127.0528107',
   'y': '37.5119717',
   'distance': 10883.506983308978,
   'sessionId': 'C8AqpmkBLhmWpuc1KvlZ'}],
 'errorMessage': ''}

In [119]:
for place_name in df['사용처'].unique():
    if place_name not in place_dict:
        #print("requested")
        r = m.search(place_name)
        place_dict[place_name] = r['places']
    #print(place_name, len(place_dict[place_name]))

(주)파리크라상천등산(평택방향) retry: 5
(주)파리크라상천등산(평택방향) retry: 4
친구찾기 retry: 5
친구찾기 retry: 4
우동전문점 retry: 5
신안홍탁 retry: 5
(주)부일씨앤디 retry: 5
옛삼덕수타면 retry: 5
가매야 retry: 5
차아나플레인 retry: 5
장수갈매기 retry: 5
해미집 retry: 5
올라6(주)호텔올라 retry: 5
올라6(주)호텔올라 retry: 4
주식회사공바위 retry: 5
고려정 retry: 5
한서외식산업주식회사(한우리한점) retry: 5
창고43시청점 retry: 5
광안리부산환집 retry: 5
0(1조 retry: 5
리틀타이 retry: 5
스타벅스(서여의도) retry: 5
(주)블랙스톤리조트양평 retry: 5
한화호텔앤드리조트(의원식당) retry: 5
행복의강 retry: 5
신씨화로신촌점 retry: 5
오늘은재영이네가 retry: 5
국회후생복지(커피숍) retry: 5
백리향(63빌딩) retry: 5
김박사손칼국수 retry: 5
돌산산장 retry: 5
삼송 retry: 5
금호횟집 retry: 5
호텔농심 retry: 5
호메로스호텔 retry: 5
해주냉면 retry: 5
주례한우갈비 retry: 5
어부횟집 retry: 5
향촌돼지국밥 retry: 5
여울돈단지 retry: 5
홍문 retry: 5
리안유통 retry: 5
구통성 retry: 5
노이프레소커피 retry: 5
마산식당 retry: 5
마산식당 retry: 4
한상바다 retry: 5
농업회사법인(주)대성축산물직판장 retry: 5
양평(하)휴게소탐앤탐스 retry: 5
땀뽕 retry: 5
제일면제소 retry: 5
자성화코다리 retry: 5
진사골순대국설렁탕 retry: 5
세프의국수전 retry: 5
월향조선횟집 retry: 5
한길식당 retry: 5
정읍(논산)휴게소 retry: 5
용인(강릉)휴게소 retry: 5
주식회사설풍 retry: 5
바다호텔 retry: 5
광명동편맞이방일반음코에레일유통 retry: 5
대가24시간순대국 retry: 5
한촌탕반명가 retry: 5
무샤 retry: 5
무샤 retry: 4
태성골뱅이신사 retry: 5
로쏘비앙코 retry: 5
탐앤탐스화곡역점 retry: 5
스타우동 retry: 5
우미각 retry: 5
구기돌 retry: 5
모던김밥 retry: 5
쿠마쿠시 retry: 5
한국문화재재단 retry: 5
신의주순대와푸꾸미 retry: 5
ECMD-국회의원식당(본청) retry: 5
최군식당 retry: 5
소야돼지야-본점 retry: 5
샤보텐서여의도점 retry: 5
큰집냉면 retry: 5
도현농장 retry: 5
반구정어부담수 retry: 5
시흥감자탕 retry: 5
길성이백숙 retry: 5
비원한정식 retry: 5
정림개발(주) retry: 5
SK네트웍스(주)워커힐 retry: 5
올갱이와청국장 retry: 5
달인겉절이칼국수샤브 retry: 5
달인겉절이칼국수샤브 retry: 4
기소야 retry: 5
들이대낙지 retry: 5
김포농협감정동지점 retry: 5
사람과산 retry: 5
원당쇠고기국밥 retry: 5
원배추해장국 retry: 5
전주콩뿌리콩나물국밥 retry: 5
주연생구이 retry: 5
북경중화요리 retry: 5
서가네우렁쌈밥 retry: 5
예스의정부부대찌게 retry: 5
신통큰짬뽕 retry: 5
김밥천국(종로) retry: 5
놀이터 retry: 5
청해반북수원점 retry: 5
나는바다다 retry: 5
투덜이아저씨네쌈밥 retry: 5
홍콩반점여의도점 retry: 5
초록봉평메밀 retry: 5
본돈스(강서) retry: 5
두끼비집 retry: 5
샤보텐 retry: 5
농촌순두부 retry: 5
파리크라상(여의도2호) retry: 5
생모루 retry: 5
구백가든 retry: 5
석정수산 retry: 5
KFC서소문점 retry: 5
삼시세끼 retry: 5
GS25남산힐튼점 retry: 5
담소사골순대국 retry: 5
나미일식 retry: 5
반가 retry: 5
장마네키네코 retry: 5
일리에스프레스 retry: 5
본죽마포공덕점 retry: 5
본죽세브란스점 retry: 5
GS25북창스타점 retry: 5
서울목 retry: 5
옹팡집한우고깃집 retry: 5
세븐일레븐여의알렉스 retry: 5
씨유63빌딩점 retry: 5
GS25광주삼지곡점 retry: 5
버드나무 retry: 5
승아식당 retry: 5
마실한정식 retry: 5
황소야인천시청정 retry: 5

In [131]:
json.dump(place_dict, open('./place_dict.json', 'w'))

In [120]:
len(place_dict)

6762

In [125]:
pd.Series([len(place_dict[place]) for place in place_dict]).value_counts()

5    2288
0    2201
1    1367
2     470
3     247
4     189
dtype: int64

In [134]:
pd.DataFrame(data={'road_address': '서울특별시 영등포구 국회대로 800 진미파라곤',
  'phone_number': '02-780-0363',
  'x': '126.9213120',
  'y': '37.5309780'}, index=[1])

                road_address phone_number            x           y
1  서울특별시 영등포구 국회대로 800 진미파라곤  02-780-0363  126.9213120  37.5309780

In [198]:
def place_info(place_name, elem):
    d = place_dict[place_name]
    if len(d) != 1:
        return None
    if elem=='road_address' and d[0][elem]=='':
        elem='jibun_address'
    return d[0][elem]

In [199]:
x = []
columns = ['road_address','phone_number','x','y']
for c in columns:
    x.append(df['사용처'].apply(place_info, elem=c))

In [243]:
def place_series(place_name, return_all=False):
    d = place_dict[place_name]
    if len(d) == 0 or \
    ((not return_all) and len(d) > 1): # return that has only one match
        return pd.Series()
    
    addr_column = 'road_address'
    if d[0][addr_column]=='': # some places have no "road address"
        addr_column='jibun_address'
    return_dict = {elem:d[0][elem] for elem in ['phone_number','x','y']}
    return_dict['addr'] = d[0][addr_column]
    return pd.Series(return_dict)

In [245]:
naver_map_df = df['사용처'].apply(place_series)

In [258]:
df = pd.concat([df, naver_map_df], axis=1)

In [294]:
addr_minmax = df[df.notnull()['주소']].groupby(['의원명','사용처']).agg({'주소':[min, max]})
addr_minmax[:5]

                                           주소
                                          min                        max
의원명 사용처
강석호 (주)밥보                서욽특별시 영등포구 여의도동 13-3       서욽특별시 영등포구 여의도동 13-3
    (주)이랜드파크켄싱턴여의도       서울특별시 영등포구 여의도동 13-3       서울특별시 영등포구 여의도동 13-3
    (주)이와타쇼         서울특별시 영등포구 여의도동 36-2 지하1층  서울특별시 영등포구 여의도동 36-2 지하1층
    (주)제스코푸드청담지점             서울특별시 강남구 삼성동 88           서울특별시 강남구 삼성동 88
    (주)조선호텔호무랑              서울특별시 강남구 청담동 4-1          서울특별시 강남구 청담동 4-1

In [295]:
tmp_df = addr_minmax.droplevel(level=0, axis=1)

In [296]:
tmp_df[tmp_df['min'] != tmp_df['max']]

                                                min  \
의원명 사용처
김성수 (주)커피빈코리아                 경기도 시흥시 산천로 100번안길 16
    물자리                         서울특별시 종로구 삼봉로 80-10
    봉명성                            서울특별시 영등포구 74길 9
    스시설                   경기도 고양시 일산동구 강송로 217번길 73
    이꾸                        서울특별시 영등포구 국회대로 72길 6
    정인면옥                     서울특별시 영등포구 국회대로 76길 22
    진진                  서울특별시 영등포구 국회대로 72길 11 프린스텔
    차이나플레인                   서울특별시 영등포구 국회대로 72길 11
    쿠치나후                         서울특별시 영등포구 의사당대로 1
    파리크라상                         서울특별시 영등포구 74길 12
    파리크루아상                        서울특별시 영등포구 74길 12
노웅래 군산오징어                      서울특별시 강남구 남부순환로 2615
    양평신내해장국                    서울특별시 마포구 토정로 31길 24
    지호마포점                         서울특별시 마포구 독막로 229
    회관직원식당                      서울특별시 마포구 마포대로6길 10
서청원 상도갈비타운                          서울시 동작구 상도동 522
유승민 삼보정                        서울특별시 영등포구 여의도동 35-5
    한화호텔앤리조트프레스센터점                서울특별시 중구 세종대로 124
    향연                         서울특별시 영등포구 여의도동 23-1
정우택 노조미             서울특별시 영등포구 여의도동 15-24 삼희익스콘벤처타워
    차이나프로               서울특별시 영등포구 여의도동 LG트윈타워 동관5층

                                                      max
의원명 사용처
김성수 (주)커피빈코리아                       경기도 시흥시 신천로 100번안길 16
    물자리                               서울특별시 종로구 상봉로 80-10
    봉명성                             서울특별시 영등포구 국회대로 74길 9
    스시설                          경기도 고양시 일산동구 강송로217번길 73
    이꾸                               서울특별시 영등포구 국회대로72길 6
    정인면옥                          서울특별시 영등포구 국회대로 76번길 22
    진진                             서울특별시 영등포구 국회대로 76길 11
    차이나플레인                           서울특별시 영등포구 여의도동 13-3
    쿠치나후                            서울특별시 영등포구 의사당대로1 의정관
    파리크라상                          서울특별시 영등포구 국회대로 74길 12
    파리크루아상                         서울특별시 영등포구 국회대로 74길 12
노웅래 군산오징어                          서울특별시 마포구 마포대로 14가길 18
    양평신내해장국                           서울특별시 마포구 토정로31길 24
    지호마포점                           서울특별시 영등포구 국회대로74길 19
    회관직원식당                             서울특별시 영등포구 의사당대로 1
서청원 상도갈비타운                              서울특별시 동작구 상도동 522
유승민 삼보정                         서울특별시 영등포구 여의도동 35-5 종합상가
    한화호텔앤리조트프레스센터점                       서울특별시 중구 세종대로124
    향연                              서울특별시 종로구 사직로 10길 9-6
정우택 노조미             서울특별시 영등포구 여의도동 15-24 삼희익스콘벤처타워 B113호
    차이나프로                        서울특별시 영등포구 여의도동 맨하탄빌딩 1층

In [328]:
df.query("주소>'' and addr>''")

,총연번,의원번호,의원명,당,당ID,지역명,연월일,내역,지출액,사용처,분류,주소,의원지출액순위,Unnamed: 13,phone_number,x,y,addr
351,17_001581,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.7,지역현안관련의견청취기자간담회,"232,000",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
356,17_001591,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.13,전국위원회관련간담회,"180,600",해우리서여의도점,간담회_식대,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
360,17_001609,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.20,국정현안관련의견청취기자간담회,"160,000",스시나고미,언론_기자식대등,서울특별시 영등포구 국회대로 780,4,NaN,02-783-6409,126.9191480,37.5299082,서울특별시 영등포구 국회대로 780 엘지에클라트오피스텔 B105호
363,17_001619,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.22,정책개발기자간담회,"275,700",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
378,17_001680,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.3.29,지역주요현안및상임위관련등정책개발보좌직원간담회,"474,200",나리스키친,사무실_식대비,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
379,17_001681,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.3.29,지역주요현안및상임위관련등정책개발보좌직원간담회,"79,000",나리스키친,사무실_식대비,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
382,17_001692,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.6,정책개발기자간담회,"263,000",장어가조타,언론_기자식대등,서울특별시 영등포구 여의도동 36,4,NaN,02-780-6030,126.9264116,37.5201766,서울특별시 영등포구 의사당대로 127
384,17_001697,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.11,정책개발보좌직원간담회,"232,000",해우리서여의도점,사무실_식대비,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
387,17_001701,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.12,정책개발기자간담회,"313,410",나리스키친,언론_기자식대등,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
393,17_001717,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.18,정책개발보좌직원간담회(진주출장),"325,000",천황식당,사무실_식대비,경상남도 진주시 대안동 4-1,4,NaN,055-741-2646,128.0844789,35.1961301,경상남도 진주시 촉석로207번길 3
402,17_001795,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.5.22,지역주요사업관련논의정책개발보좌직원간담회,"376,000",나리스키친,사무실_식대비,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
405,17_001838,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.6.16,정책개발조찬간담회,"715,000",슈치쿠,간담회_식대,서울특별시 영등포구 63로 50,4,NaN,02-789-5751,126.9400457,37.5197126,서울특별시 영등포구 63로 50 58층
407,17_001840,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.6.16,정책개발기자간담회(인구감소지역발전특별법제정관련),"350,000",소도수사,언론_기자식대등,서울특별시 영등포구 의사당대로1길 11,4,NaN,02-783-5724,126.9285914,37.5192148,서울특별시 영등포구 의사당대로1길 11
410,17_001846,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.6.20,정책개발기자간담회,"413,000",장어가조타,언론_기자식대등,서울특별시 영등포구 여의도동 36,4,NaN,02-780-6030,126.9264116,37.5201766,서울특별시 영등포구 의사당대로 127
422,17_001955,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.9.11,상임위주요현안관련정책개발보좌직원간담회,"174,000",해우리서여의도점,사무실_식대비,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
444,17_002071,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.14,행안위위원상임위현안관련오찬간담회,"469,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로 1 의정관 6층,4,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
446,17_002075,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.16,국정현안등의견청취정책개발기자간담회,"174,000",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
452,17_002097,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.22,정책개발기자간담회,"261,000",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
456,17_002104,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.24,정책개발기자간담회,"640,000",쿠치나후,언론_기자식대등,서울특별시 영등포구 의사당대로 1 의정관 6층,4,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2700,17_018106,356,김성수,더불어민주당,100,비례대표,2017.1.2,국정농단사태관련반장단오찬,"114,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로1 의정관,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2701,17_018107,356,김성수,더불어민주당,100,비례대표,2017.1.13,국정농단사태관련꾸미기자단간담회,"280,000",쿠치나후,언론_기자식대등,서울특별시 영등포구 의사당대로1 의정관,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2709,17_018117,356,김성수,더불어민주당,100,비례대표,2017.1.24,언론공정성실현모임위원저녁간담회,"315,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로1 의정관,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2712,17_018126,356,김성수,더불어민주당,100,비례대표,2017.2.1,미방위결산관련의원간담회,"52,000",마포닭곰탕,간담회_식대,서울특별시 마포구 토정로 25길 43,6,NaN,02-6404-1989,126.9400836,37.5449347,서울특별시 마포구 토정로25길 43
2716,17_018130,356,김성수,더불어민주당,100,비례대표,2017.2.4,일산기자단현안관련만찬간담회,"86,000",안뽀,언론_기자식대등,경기도 고양시 일산동구 강송로 33,6,NaN,,128.5813500,35.8811333,대구광역시 북구 고성로28길 2-1
2717,17_018132,356,김성수,더불어민주당,100,비례대표,2017.2.9,반장단기자단현안간담회,"170,000",참배나무골여의도점,언론_기자식대등,서울특별시 영등포구 국회대로 62길 25,6,NaN,02-780-5292,126.9177349,37.5263047,서울특별시 영등포구 국회대로62길 25 교육시설재난공제회관
2719,17_018134,356,김성수,더불어민주당,100,비례대표,2017.2.11,반장단만찬간담회,"190,000",스미스가좋아하는한옥,언론_기자식대등,서울특별시 종로구 사간동 62-1,6,NaN,02-722-7003,126.9800740,37.5778400,서울특별시 종로구 삼청로 22-7
2724,17_018139,356,김성수,더불어민주당,100,비례대표,2017.2.17,국정현안관련점심간담회,"179,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로 1,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2725,17_018140,356,김성수,더불어민주당,100,비례대표,2017.2.19,의원단오찬,"32,000",윤선희의평양면옥,간담회_식대,경기도 고양시 일산동구 마두동 999-4 8-6,6,NaN,031-923-9913,126.7907203,37.6467142,경기도 고양시 일산동구 강송로74번길 8-6
2727,17_018142,356,김성수,더불어민주당,100,비례대표,2017.2.23,한국일보기자단오찬간담회,"191,000",참배나무골여의도점,언론_기자식대등,서울특별시 영등포구 국회대로 62길 25,6,NaN,02-780-5292,126.9177349,37.5263047,서울특별시 영등포구 국회대로62길 25 교육시설재난공제회관
2730,17_018156,356,김성수,더불어민주당,100,비례대표,2017.3.3,지방지기자단만찬간담회,"208,000",스미스가좋아하는한옥,언론_기자식대등,서울특별시 종로구 사간동 62-1,6,NaN,02-722-7003,126.9800740,37.5778400,서울특별시 종로구 삼청로 22-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11713,17_077909,185,유승민,바른정당,2020,대구 동구을,2017.10.6,식대,"90,000",알라또레,간담회_식대,서울특별시 마포구 서교동 343-11,2,NaN,02-324-0978,126.9247591,37.5534751,서울특별시 마포구 와우산로23길 8 더모임 빌딩 5층
11715,17_077916,185,유승민,바른정당,2020,대구 동구을,2017.10.9,식대,"79,000",알라또레,간담회_식대,서울특별시 마포구 서교동 343-11,2,NaN,02-324-0978,126.9247591,37.5534751,서울특별시 마포구 와우산로23길 8 더모임 빌딩 5층
11719,17_077938,185,유승민,바른정당,2020,대구 동구을,2017.10.17,기자현안간담회,"324,000",알라또레,언론_기자식대등,서울특별시 마포구 서교동 343-11,2,NaN,02-324-0978,126.9247591,37.5534751,서울특별시 마포구 와우산로23길 8 더모임 빌딩 5층
17120,17_112383,276,정우택,자유한국당,200,충북 청주시상당구,2017.1.10,기관협의관련간담회비,"331,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 맨하탄빌딩 1층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17135,17_112412,276,정우택,자유한국당,200,충북 청주시상당구,2017.1.23,기관협의관련간담회비,"553,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 맨하탄빌딩 1층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17145,17_112449,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.27,정책협의관련티타임비,"88,000",신라스테이역삼카페,간담회_다과,서울특별시 강남구 언주로 517,1,NaN,02-2054-9107,127.0413052,37.5046344,서울특별시 강남구 언주로 517 3층
17146,17_112453,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.28,기관협의관련간담회비,"260,000",코마찌,간담회_식대,서울특별시 광진구 아차산로 76길 19,1,NaN,02-452-2336,127.1080136,37.5473242,서울특별시 광진구 아차산로76길 19
17156,17_112471,276,정우택,자유한국당,200,충북 청주시상당구,2017.2.7,기관협의관련간담회비,"318,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 맨하탄빌딩 1층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17158,17_112473,276,정우택,자유한국당,200,충북 청주시상당구,2017.2.7,정책협의관련간담회비,"943,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17176,17_112515,276,정우택,자유한국당,200,충북 청주시상당구,2017.2.27,기관협의관련간담회비,"241,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17180,17_112529,276,정우택,자유한국당,200,충북 청주시상당구,2017.3.6,정책협의관련간담회비,"541,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17194,17_112552,276,정우택,자유한국당,200,충북 청주시상당구,2017.3.17,정책협의관련간담회비,"203,000",미당한정식,간담회_식대,서울특별시 종로구 경희궁1길 6,1,NaN,041-362-1500,126.7399860,36.8061610,충청남도 당진시 합덕읍 합덕대덕로 502-22 미당
17210,17_112682,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.18,정책협의관련간담회비,"330,500",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17219,17_112698,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.25,정책협의관련티타임비,"381,000",쿠치나후,간담회_다과,서울특별시 영등포구 의사당대로 1,1,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
17223,17_112713,276,정우택,자유한국당,200,충북 청주시상당구,2017.8.7,정책협의관련간담회비,"282,000",서초삿뽀로,간담회_식대,서울특별시 서초구 서초중앙로 195,1,NaN,02-3477-5544,127.0121046,37.4991748,서울특별시 서초구 서초중앙로 195
17227,17_112725,276,정우택,자유한국당,200,충북 청주시상당구,2017.8.14,정책협의관련간담회비,"375,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17233,17_112736,276,정우택,자유한국당,200,충북 청주시상당구,2017.8.23,정책협의관련간담회비,"460,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17237,17_112752,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.1,정책협의관련간담회비,"162,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17239,17_112755,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.4,정책협의관련간담회비,"206,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17244,17_112770,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.13,정책협의관련간담회비,"184,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17247,17_112773,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.14,기관협의관련간담회비,"123,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17254,17_112809,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.26,정책협의관련간담회비,"283,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17260,17_112825,276,정우택,자유한국당,200,충북 청주시상당구,2017.10.11,정책협의관련간담회비,"146,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17264,17_112834,276,정우택,자유한국당,200,충북 청주시상당구,2017.10.19,정책협의관련간담회비,"522,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17268,17_112865,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.10,정책협의관련간담회비,"319,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17272,17_112871,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.16,기관협의관련간담회비,"247,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17275,17_112887,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.27,기관협의관련간담회비,"329,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17277,17_112890,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.29,기관협의관련간담회비,"513,500",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17279,17_112898,276,정우택,자유한국당,200,충북 청주시상당구,2017.12.1,정책협의관련간담회비,"426,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17284,17_112906,276,정우택,자유한국당,200,충북 청주시상당구,2017.12.7,기관협의관련간담회비,"535,000",창고43VIP점,간담회_식대,서울특별시 영등포구 국회대로70길 15-1,1,NaN,02-785-2992,126.9202803,37.5296024,서울특별시 영등포구 국회대로70길 15-1 극동브이아이피빌딩