In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import json

In [240]:
api_keys = json.load(open('api_keys.json', 'r'))

# 1. 주소 있는 데이터 읽어서 확인

In [3]:
df = pd.read_csv('./jonmat2017.csv')
df = df[df.columns[:-1]]

In [4]:
#df = df[~df.주소.isnull()]
df[:3]

,총연번,의원번호,의원명,당,당ID,지역명,연월일,내역,지출액,사용처,분류,주소,의원지출액순위
0,17_000018,3,강길부,자유한국당,200,울산 울주군,2017.1.6,상임위원회의,"160,000",여의도소호정,간담회_식대,NaN,75
1,17_000019,3,강길부,자유한국당,200,울산 울주군,2017.1.7,지역현안회의,"84,000",두남일회,간담회_식대,NaN,75
2,17_000020,3,강길부,자유한국당,200,울산 울주군,2017.1.8,지역예산회의,"36,000",경기식당,간담회_식대,NaN,75

In [5]:
df['주소'] = df['주소'].apply(lambda x: x.strip() if type(x)==str else '')
df['지출액'] = df['지출액'].apply(lambda x: int(x.replace(',','')))

# 2. 주소 있는것 지오코딩

In [8]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key=api_keys['google_maps'])

NameError: name 'api_keys' is not defined

In [13]:
def get_geocode(addr):
    geocode_result = gmaps.geocode(addr)
    if len(geocode_result) > 0:
        return geocode_result[0]['geometry']['location']
    else:
        return {'lat':0,'lng':0}

In [11]:
uniq = df['주소'].unique()

In [9]:
try:
    addr_dict = json.load(open('geocode_dict.json', 'r'))
except:
    addr_dict = {}

In [14]:
for addr in uniq:
    if addr in addr_dict:
        continue
    addr_dict[addr] = get_geocode(addr)

NameError: name 'gmaps' is not defined

In [45]:
json.dump(addr_dict, open('geocode_dict.json', 'w'))

In [17]:
addr_dict[''] = {'lat':0, 'lng':0}

In [15]:
for enum in enumerate(addr_dict):
    if enum[0] > 2:
        break
    print(enum)

(0, '서울특별시 영등포구 여의대방로68길 17')
(1, '서울특별시 영등포구 여의도동 45-20 동북빌딩 203-204')
(2, '서울특별시 강남구 개포로 623')

In [18]:
df_latlng = df['주소'].apply(lambda x: pd.Series({f:addr_dict[x][f] for f in ['lat','lng']}))
df_latlng[:3]

   lat  lng
0  0.0  0.0
1  0.0  0.0
2  0.0  0.0

In [19]:
df = pd.concat([df, df_latlng], axis=1)

In [20]:
df.query("주소!=''")[:3].T

,345,346,347
총연번,17_001545,17_001554,17_001556
의원번호,5,5,5
의원명,강석호,강석호,강석호
당,자유한국당,자유한국당,자유한국당
당ID,200,200,200
지역명,경북 영양군영덕군봉화군울진군,경북 영양군영덕군봉화군울진군,경북 영양군영덕군봉화군울진군
연월일,2017.1.11,2017.1.17,2017.1.17
내역,지역현안관련정책개발보좌직원간담회,상임위법안소위관련보좌직원정책개발간담회,정책개발기자간담회
지출액,105000,160000,350000
사용처,또래오래치킨,청도,잔비어스
분류,사무실_식대비,사무실_식대비,언론_기자식대등
주소,서울특별시 영등포구 여의대방로68길 17,서울특별시 영등포구 여의도동 45-20 동북빌딩 203-204,서울특별시 강남구 개포로 623
의원지출액순위,4,4,4
lat,37.5177,37.5196,37.4939
lng,126.933,126.929,127.08

# - lat+lng 필드 만들기

In [40]:
df['latlng'] = df['lat'].astype(str) + '/' + df['lng'].astype(str)

# 3. 같은좌표의 다른 주소 표현
(도로명, 건물명, 띄어쓰기 등)

사용처와 좌표가 같은데 주소가 다른 것은 없는지(=2의 작업이 잘 되었는지 확인)

In [41]:
def uniq_cnt(l):
    return len(l.unique())

In [48]:
addr_grouped = df.groupby(['사용처','latlng'])\
                .agg({'주소':[lambda x: len(x.unique()), min]})
addr_grouped[:3]

                         주소
                   <lambda> min
사용처        latlng
#INSHOP(샵  0.0/0.0        1
(별관)목포세발낙지 0.0/0.0        1
(사)노동자역사한내 0.0/0.0        1

In [49]:
addr_grouped.columns = ['uniq_cnt','addr']

In [47]:
addr_grouped = addr_grouped.query("uniq_cnt > 1 and addr != ''").reset_index()
addr_grouped[:3]

Empty DataFrame
Columns: [사용처, lat, lng, uniq_cnt, addr]
Index: []

In [24]:
def change_addr(s):
    indices = df.query("사용처=='%s' and lat=='%s' and lng=='%s'"\
                      % (s['사용처'], s['lat'], s['lng'])).index
    df.loc[indices, '주소'] = s['addr']

In [25]:
addr_grouped.apply(change_addr, axis=1)
print()

# 같은 위치인데 다른사용처로 등록된 곳 뽑아보기

In [52]:
grouped = df.groupby(['latlng'])\
    .apply(lambda x: pd.Series({'uniq':len(x['주소'].unique()), 'sample':min(x['주소'])}))

In [53]:
grouped = grouped.query('uniq>1').reset_index()
grouped[:3]

                   latlng  uniq                sample
0                 0.0/0.0     2
1  37.5011418/127.0020786     2    서울특별시 서초구 반포동 63-1
2  37.5183615/126.9338934     2  서울특별시 영등포구 국제금융로 112

In [82]:
df[df['latlng'].isin(grouped['latlng'][1:])].groupby(['사용처','latlng']).count()[['주소']].sort_values(by='latlng')[:6]

                                         주소
사용처              latlng
(주)현대그린푸드팔레스호텔   37.5011418/127.0020786   1
쉐라톤서울팔래스강남호텔     37.5011418/127.0020786   1
쉐라른서울팔래스강남호텔     37.5011418/127.0020786   1
서주산업개발(쉐라톤서울팔래스강 37.5011418/127.0020786   1
서주산업개발           37.5011418/127.0020786  49
다봉               37.5011418/127.0020786   4

In [60]:
import re

In [113]:
re.search(r'사업', '서주사업개발주식회사')

In [181]:
re.sub('호텔엔드|호텔앤도','호텔앤드','한화호텔앤도리조트')

'한화호텔앤드리조트'

In [232]:
def refine_typo(name):
    patterns = {
        '팔래스':'팔레스',
        '메리어트':'매리어트',
        '코엑스':'코액스',
        '호텔앤드':'호텔엔드|호텔앤도',
        '뚜레쥬르':'뚜레주르',
        '파리크라상':'파리크루아상',
        '':'\(주\)|\(주$',
        '참배나무골여의도점':'참나무골여의도점',
        '이즈미':'^이즈이',
        '전주이맛콩나물국밥':'전주참이맛콩나물국밥'
    }
    
    for p in patterns:
        name = re.sub(patterns[p], p, name)
        
    return name

In [233]:
def normalize_name(name):
    name = refine_typo(name)
    patterns = {
        '쉐라튼 팔래스 강남 호텔':[
            r'서주.*개발',
            r'팔래스.*강남',
            r'현대그린푸드팔래스호텔',
        ],
        '현대그린푸드국회의원식당':[
            r'현대그린푸드국회의',
        ],
        'JW메리어트서울':[
            r'JW메리어트서울',
            r'JW메리어트호텔서울',
        ],
    }
    
    for p in patterns:
        for reg in patterns[p]:
            if re.search(reg, name):
                return p
    return name

normalize_name('쉐라톤서울팔래스강남호텔')

'쉐라튼 팔래스 강남 호텔'

In [234]:
df_normalized = pd.concat([df['사용처'].apply(normalize_name), df[['latlng','총연번']]], axis=1)

In [235]:
df_normalized[df_normalized.latlng.isin(df_normalized.groupby(['latlng']).사용처.nunique().to_frame().query('사용처 > 1').index[1:])].groupby(['사용처','latlng']).count().sort_values(by='latlng')[90:]

                                       총연번
사용처            latlng
낙원             37.5296225/126.9203828    5
창고43(VIP점)     37.5296225/126.9203828    1
창고43viP        37.5296225/126.9203828    1
창고43VIP점       37.5296225/126.9203828    1
창고43           37.5296225/126.9203828    1
KFC            37.5296225/126.9203828    1
버드나무식당         37.5296225/126.9203828    1
김              37.5297896/126.9192524    1
스시나고미          37.5297896/126.9192524    1
지호마포점          37.5298153/126.9219549    1
동우북어국          37.5298153/126.9219549    1
소쇄원            37.5298153/126.9219549    6
가시리            37.5298153/126.9219549    4
장수집            37.5299271/126.9198929    1
고래와새우          37.5299271/126.9198929    1
차이나플레인         37.5299355/126.9208127    2
진진             37.5299355/126.9208127    1
일등순대           37.5299355/126.9208127    3
고래와새우          37.529955/126.9198949     3
여의도내장탕신관       37.529955/126.9198949     2
족장             37.5300135/126.9201803    1
핫썬치킨           37.5300135/126.9201803    1
이꾸             37.5300135/126.9201803    2
파리크라상          37.5300485/126.9210498   16
스타벅스여의도의사당점    37.5300485/126.9210498    1
캔싱턴호텔          37.5301506/126.9226201    1
정인면옥           37.5301506/126.9226201    1
이랜드파크여의도       37.5302335/126.9216785    7
yanks          37.5302335/126.9216785    8
이랜드파크켄싱턴여의도    37.5302335/126.9216785    3
...                                    ...
호남식당           37.5451854/126.9534338    1
회관직원식당         37.5451854/126.9534338    1
정가네            37.5451854/126.9534338    1
전주콩나물해장국       37.5451854/126.9534338    2
유가네왕갈비         37.5470757/126.9426035    1
대박생고기집         37.5470757/126.9426035    5
을일대            37.5474432/126.9455146    1
을밀대            37.5474432/126.9455146    9
군산오징어          37.5500107/126.9564106    1
위드스토리          37.5500107/126.9564106    3
한화호텔앤리조트프레스센터점 37.5673811/126.977859     4
FC외식프레스센터      37.5673811/126.977859     2
프레스센터프레스클럽     37.5673811/126.977859     2
한미리            37.568787/126.9782122     1
한미리(광화문)       37.568787/126.9782122     1
지소현커피나무상암점     37.5776394/126.8886338    1
홍반장신의주찹쌀순대     37.5776394/126.8886338    1
고다와리야          37.6396511/126.7899683    1
더블유인           37.6396511/126.7899683    1
트라째리아안토니오      37.6413733/126.7907913    1
트라페리아안토니오      37.6413733/126.7907913    1
배꼽집            37.6417558/126.7919673    4
생어거스틴          37.6417558/126.7919673    1
식돈가            37.6417558/126.7919673    1
안뽀             37.6417558/126.7919673    1
곤트란쉐리에         37.6417558/126.7919673    1
토마틸로           37.6417558/126.7919673    1
가로수길마루         37.6417558/126.7919673    4
빠나나            37.6417558/126.7919673    1
월당             37.6417558/126.7919673    1

[78 rows x 1 columns]

In [126]:
normalize_name('여의도소호정')

''

In [130]:
df[df['사용처'].apply(normalize_name) == '쉐라튼 팔래스 강남 호텔'][['사용처','주소']]

                    사용처                  주소
406    서주산업개발(쉐라톤서울팔래스강  서울특별시 서초구 반포동 63-1
1257         서주사업개발주식회사
1775             서주사업개발
2509         서주산업개발주식회사
6489        다봉(서주산업개발주)
6814             서주산업개발
6845             서주산업개발
6860             서주산업개발
6932             서주산업개발
7048             서주산업개발
8321             서주산업개발
8641             서주산업개발  서울특별시 서초구 사평대로 160
8642             서주산업개발  서울특별시 서초구 사평대로 160
8643             서주산업개발  서울특별시 서초구 사평대로 160
8644             서주산업개발  서울특별시 서초구 사평대로 160
8645         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8647         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8649         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8652         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8655         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8657         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8659         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8660         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8662         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8663             서주산업개발  서울특별시 서초구 사평대로 160
8667             서주산업개발  서울특별시 서초구 사평대로 160
8673             서주산업개발  서울특별시 서초구 사평대로 160
8674         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8675         서주사업개발주식회사  서울특별시 서초구 사평대로 160
8677             서주산업개발  서울특별시 서초구 사평대로 160
...                 ...                 ...
8723             서주산업개발  서울특별시 서초구 사평대로 160
8725             서주산업개발  서울특별시 서초구 사평대로 160
8728             서주산업개발  서울특별시 서초구 사평대로 160
8731             서주산업개발  서울특별시 서초구 사평대로 160
8733             서주산업개발  서울특별시 서초구 사평대로 160
8745             서주산업개발  서울특별시 서초구 사평대로 160
8747             서주산업개발  서울특별시 서초구 사평대로 160
8748             서주산업개발  서울특별시 서초구 사평대로 160
8749             서주산업개발  서울특별시 서초구 사평대로 160
8751             서주산업개발  서울특별시 서초구 사평대로 160
8752             서주산업개발  서울특별시 서초구 사평대로 160
8753             서주산업개발  서울특별시 서초구 사평대로 160
8754             서주산업개발  서울특별시 서초구 사평대로 160
8755             서주산업개발  서울특별시 서초구 사평대로 160
8756             서주산업개발  서울특별시 서초구 사평대로 160
8760             서주산업개발  서울특별시 서초구 사평대로 160
8761             서주산업개발  서울특별시 서초구 사평대로 160
8762             서주산업개발  서울특별시 서초구 사평대로 160
8765             서주산업개발  서울특별시 서초구 사평대로 160
8767             서주산업개발  서울특별시 서초구 사평대로 160
8768             서주산업개발  서울특별시 서초구 사평대로 160
8770             서주산업개발  서울특별시 서초구 사평대로 160
10055            서주산업개발
10514            서주산업개발
14884         서주산업개발주식회
15838            서주산업개발
16311        서주사업개발주식회사
17225      쉐라톤서울팔래스강남호텔  서울특별시 서초구 사평대로 160
17290      쉐라른서울팔래스강남호텔  서울특별시 서초구 사평대로 160
18601        서주산업개발주식회사

[79 rows x 2 columns]

# TODO: 같은 위치인데 다른사용처로 등록된 정리하기(어떻게?)

In [51]:
addr_grouped.query('uniq_cnt > 1')

               uniq_cnt addr
사용처   latlng
코레일유통 0.0/0.0         2

# 기타(정리 안 함)

In [40]:
import requests
import json

In [90]:
df_all = pd.read_csv('jonmat2017.csv')
place_dict = {}

In [75]:
import requests
import json
import time

class NaverMaps():
    headers = {}
    url_format = "https://naveropenapi.apigw.ntruss.com/map-place/v1/"+\
        "search?query=%s&coordinate=126.929719,37.519749"
    
    def __init__(self, api_key_id, api_key):
        self.headers = {"X-NCP-APIGW-API-KEY-ID":api_key_id,
                        "X-NCP-APIGW-API-KEY":api_key,
                    }
    
    def search(self, query_string, retry=5):
        query_string = query_string.replace('#','')
        r = requests.get(self.url_format % query_string, headers=self.headers)
        d = json.loads(r.text)
        if d['status'] != 'OK':
            if retry > 0:
                print("%s retry: %s" % (place_name, retry))
                time.sleep(3)
                return self.search(query_string, retry=retry-1)
            else:
                raise BaseException(query_string, d)
        return d

In [77]:
m = NaverMaps(api_keys['naver_maps_id'], api_keys['naver_maps_key'])
r = m.search('비야게레로')
r

{'status': 'OK',
 'meta': {'totalCount': 1, 'count': 1},
 'places': [{'name': '비야게레로',
   'road_address': '서울특별시 강남구 봉은사로78길 12',
   'jibun_address': '서울특별시 강남구 삼성동 118-21 101호',
   'phone_number': '02-538-8915',
   'x': '127.0528107',
   'y': '37.5119717',
   'distance': 10883.506983308978,
   'sessionId': 'C8AqpmkBLhmWpuc1KvlZ'}],
 'errorMessage': ''}

In [119]:
for place_name in df['사용처'].unique():
    if place_name not in place_dict:
        #print("requested")
        r = m.search(place_name)
        place_dict[place_name] = r['places']
    #print(place_name, len(place_dict[place_name]))

(주)파리크라상천등산(평택방향) retry: 5
(주)파리크라상천등산(평택방향) retry: 4
친구찾기 retry: 5
친구찾기 retry: 4
우동전문점 retry: 5
신안홍탁 retry: 5
(주)부일씨앤디 retry: 5
옛삼덕수타면 retry: 5
가매야 retry: 5
차아나플레인 retry: 5
장수갈매기 retry: 5
해미집 retry: 5
올라6(주)호텔올라 retry: 5
올라6(주)호텔올라 retry: 4
주식회사공바위 retry: 5
고려정 retry: 5
한서외식산업주식회사(한우리한점) retry: 5
창고43시청점 retry: 5
광안리부산환집 retry: 5
0(1조 retry: 5
리틀타이 retry: 5
스타벅스(서여의도) retry: 5
(주)블랙스톤리조트양평 retry: 5
한화호텔앤드리조트(의원식당) retry: 5
행복의강 retry: 5
신씨화로신촌점 retry: 5
오늘은재영이네가 retry: 5
국회후생복지(커피숍) retry: 5
백리향(63빌딩) retry: 5
김박사손칼국수 retry: 5
돌산산장 retry: 5
삼송 retry: 5
금호횟집 retry: 5
호텔농심 retry: 5
호메로스호텔 retry: 5
해주냉면 retry: 5
주례한우갈비 retry: 5
어부횟집 retry: 5
향촌돼지국밥 retry: 5
여울돈단지 retry: 5
홍문 retry: 5
리안유통 retry: 5
구통성 retry: 5
노이프레소커피 retry: 5
마산식당 retry: 5
마산식당 retry: 4
한상바다 retry: 5
농업회사법인(주)대성축산물직판장 retry: 5
양평(하)휴게소탐앤탐스 retry: 5
땀뽕 retry: 5
제일면제소 retry: 5
자성화코다리 retry: 5
진사골순대국설렁탕 retry: 5
세프의국수전 retry: 5
월향조선횟집 retry: 5
한길식당 retry: 5
정읍(논산)휴게소 retry: 5
용인(강릉)휴게소 retry: 5
주식회사설풍 retry: 5
바다호텔 retry: 5
광명동편맞이방일반음코에레일유통 retry: 5
대가24시간순대국 retry: 5
한촌탕반명가 retry: 5
무샤 retry: 5
무샤 retry: 4
태성골뱅이신사 retry: 5
로쏘비앙코 retry: 5
탐앤탐스화곡역점 retry: 5
스타우동 retry: 5
우미각 retry: 5
구기돌 retry: 5
모던김밥 retry: 5
쿠마쿠시 retry: 5
한국문화재재단 retry: 5
신의주순대와푸꾸미 retry: 5
ECMD-국회의원식당(본청) retry: 5
최군식당 retry: 5
소야돼지야-본점 retry: 5
샤보텐서여의도점 retry: 5
큰집냉면 retry: 5
도현농장 retry: 5
반구정어부담수 retry: 5
시흥감자탕 retry: 5
길성이백숙 retry: 5
비원한정식 retry: 5
정림개발(주) retry: 5
SK네트웍스(주)워커힐 retry: 5
올갱이와청국장 retry: 5
달인겉절이칼국수샤브 retry: 5
달인겉절이칼국수샤브 retry: 4
기소야 retry: 5
들이대낙지 retry: 5
김포농협감정동지점 retry: 5
사람과산 retry: 5
원당쇠고기국밥 retry: 5
원배추해장국 retry: 5
전주콩뿌리콩나물국밥 retry: 5
주연생구이 retry: 5
북경중화요리 retry: 5
서가네우렁쌈밥 retry: 5
예스의정부부대찌게 retry: 5
신통큰짬뽕 retry: 5
김밥천국(종로) retry: 5
놀이터 retry: 5
청해반북수원점 retry: 5
나는바다다 retry: 5
투덜이아저씨네쌈밥 retry: 5
홍콩반점여의도점 retry: 5
초록봉평메밀 retry: 5
본돈스(강서) retry: 5
두끼비집 retry: 5
샤보텐 retry: 5
농촌순두부 retry: 5
파리크라상(여의도2호) retry: 5
생모루 retry: 5
구백가든 retry: 5
석정수산 retry: 5
KFC서소문점 retry: 5
삼시세끼 retry: 5
GS25남산힐튼점 retry: 5
담소사골순대국 retry: 5
나미일식 retry: 5
반가 retry: 5
장마네키네코 retry: 5
일리에스프레스 retry: 5
본죽마포공덕점 retry: 5
본죽세브란스점 retry: 5
GS25북창스타점 retry: 5
서울목 retry: 5
옹팡집한우고깃집 retry: 5
세븐일레븐여의알렉스 retry: 5
씨유63빌딩점 retry: 5
GS25광주삼지곡점 retry: 5
버드나무 retry: 5
승아식당 retry: 5
마실한정식 retry: 5
황소야인천시청정 retry: 5

In [131]:
json.dump(place_dict, open('./place_dict.json', 'w'))

In [120]:
len(place_dict)

6762

In [125]:
pd.Series([len(place_dict[place]) for place in place_dict]).value_counts()

5    2288
0    2201
1    1367
2     470
3     247
4     189
dtype: int64

In [134]:
pd.DataFrame(data={'road_address': '서울특별시 영등포구 국회대로 800 진미파라곤',
  'phone_number': '02-780-0363',
  'x': '126.9213120',
  'y': '37.5309780'}, index=[1])

                road_address phone_number            x           y
1  서울특별시 영등포구 국회대로 800 진미파라곤  02-780-0363  126.9213120  37.5309780

In [198]:
def place_info(place_name, elem):
    d = place_dict[place_name]
    if len(d) != 1:
        return None
    if elem=='road_address' and d[0][elem]=='':
        elem='jibun_address'
    return d[0][elem]

In [199]:
x = []
columns = ['road_address','phone_number','x','y']
for c in columns:
    x.append(df['사용처'].apply(place_info, elem=c))

In [243]:
def place_series(place_name, return_all=False):
    d = place_dict[place_name]
    if len(d) == 0 or \
    ((not return_all) and len(d) > 1): # return that has only one match
        return pd.Series()
    
    addr_column = 'road_address'
    if d[0][addr_column]=='': # some places have no "road address"
        addr_column='jibun_address'
    return_dict = {elem:d[0][elem] for elem in ['phone_number','x','y']}
    return_dict['addr'] = d[0][addr_column]
    return pd.Series(return_dict)

In [245]:
naver_map_df = df['사용처'].apply(place_series)

In [258]:
df = pd.concat([df, naver_map_df], axis=1)

In [294]:
addr_minmax = df[df.notnull()['주소']].groupby(['의원명','사용처']).agg({'주소':[min, max]})
addr_minmax[:5]

                                           주소
                                          min                        max
의원명 사용처
강석호 (주)밥보                서욽특별시 영등포구 여의도동 13-3       서욽특별시 영등포구 여의도동 13-3
    (주)이랜드파크켄싱턴여의도       서울특별시 영등포구 여의도동 13-3       서울특별시 영등포구 여의도동 13-3
    (주)이와타쇼         서울특별시 영등포구 여의도동 36-2 지하1층  서울특별시 영등포구 여의도동 36-2 지하1층
    (주)제스코푸드청담지점             서울특별시 강남구 삼성동 88           서울특별시 강남구 삼성동 88
    (주)조선호텔호무랑              서울특별시 강남구 청담동 4-1          서울특별시 강남구 청담동 4-1

In [295]:
tmp_df = addr_minmax.droplevel(level=0, axis=1)

In [296]:
tmp_df[tmp_df['min'] != tmp_df['max']]

                                                min  \
의원명 사용처
김성수 (주)커피빈코리아                 경기도 시흥시 산천로 100번안길 16
    물자리                         서울특별시 종로구 삼봉로 80-10
    봉명성                            서울특별시 영등포구 74길 9
    스시설                   경기도 고양시 일산동구 강송로 217번길 73
    이꾸                        서울특별시 영등포구 국회대로 72길 6
    정인면옥                     서울특별시 영등포구 국회대로 76길 22
    진진                  서울특별시 영등포구 국회대로 72길 11 프린스텔
    차이나플레인                   서울특별시 영등포구 국회대로 72길 11
    쿠치나후                         서울특별시 영등포구 의사당대로 1
    파리크라상                         서울특별시 영등포구 74길 12
    파리크루아상                        서울특별시 영등포구 74길 12
노웅래 군산오징어                      서울특별시 강남구 남부순환로 2615
    양평신내해장국                    서울특별시 마포구 토정로 31길 24
    지호마포점                         서울특별시 마포구 독막로 229
    회관직원식당                      서울특별시 마포구 마포대로6길 10
서청원 상도갈비타운                          서울시 동작구 상도동 522
유승민 삼보정                        서울특별시 영등포구 여의도동 35-5
    한화호텔앤리조트프레스센터점                서울특별시 중구 세종대로 124
    향연                         서울특별시 영등포구 여의도동 23-1
정우택 노조미             서울특별시 영등포구 여의도동 15-24 삼희익스콘벤처타워
    차이나프로               서울특별시 영등포구 여의도동 LG트윈타워 동관5층

                                                      max
의원명 사용처
김성수 (주)커피빈코리아                       경기도 시흥시 신천로 100번안길 16
    물자리                               서울특별시 종로구 상봉로 80-10
    봉명성                             서울특별시 영등포구 국회대로 74길 9
    스시설                          경기도 고양시 일산동구 강송로217번길 73
    이꾸                               서울특별시 영등포구 국회대로72길 6
    정인면옥                          서울특별시 영등포구 국회대로 76번길 22
    진진                             서울특별시 영등포구 국회대로 76길 11
    차이나플레인                           서울특별시 영등포구 여의도동 13-3
    쿠치나후                            서울특별시 영등포구 의사당대로1 의정관
    파리크라상                          서울특별시 영등포구 국회대로 74길 12
    파리크루아상                         서울특별시 영등포구 국회대로 74길 12
노웅래 군산오징어                          서울특별시 마포구 마포대로 14가길 18
    양평신내해장국                           서울특별시 마포구 토정로31길 24
    지호마포점                           서울특별시 영등포구 국회대로74길 19
    회관직원식당                             서울특별시 영등포구 의사당대로 1
서청원 상도갈비타운                              서울특별시 동작구 상도동 522
유승민 삼보정                         서울특별시 영등포구 여의도동 35-5 종합상가
    한화호텔앤리조트프레스센터점                       서울특별시 중구 세종대로124
    향연                              서울특별시 종로구 사직로 10길 9-6
정우택 노조미             서울특별시 영등포구 여의도동 15-24 삼희익스콘벤처타워 B113호
    차이나프로                        서울특별시 영등포구 여의도동 맨하탄빌딩 1층

In [328]:
df.query("주소>'' and addr>''")

,총연번,의원번호,의원명,당,당ID,지역명,연월일,내역,지출액,사용처,분류,주소,의원지출액순위,Unnamed: 13,phone_number,x,y,addr
351,17_001581,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.7,지역현안관련의견청취기자간담회,"232,000",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
356,17_001591,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.13,전국위원회관련간담회,"180,600",해우리서여의도점,간담회_식대,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
360,17_001609,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.20,국정현안관련의견청취기자간담회,"160,000",스시나고미,언론_기자식대등,서울특별시 영등포구 국회대로 780,4,NaN,02-783-6409,126.9191480,37.5299082,서울특별시 영등포구 국회대로 780 엘지에클라트오피스텔 B105호
363,17_001619,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.2.22,정책개발기자간담회,"275,700",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
378,17_001680,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.3.29,지역주요현안및상임위관련등정책개발보좌직원간담회,"474,200",나리스키친,사무실_식대비,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
379,17_001681,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.3.29,지역주요현안및상임위관련등정책개발보좌직원간담회,"79,000",나리스키친,사무실_식대비,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
382,17_001692,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.6,정책개발기자간담회,"263,000",장어가조타,언론_기자식대등,서울특별시 영등포구 여의도동 36,4,NaN,02-780-6030,126.9264116,37.5201766,서울특별시 영등포구 의사당대로 127
384,17_001697,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.11,정책개발보좌직원간담회,"232,000",해우리서여의도점,사무실_식대비,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
387,17_001701,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.12,정책개발기자간담회,"313,410",나리스키친,언론_기자식대등,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
393,17_001717,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.4.18,정책개발보좌직원간담회(진주출장),"325,000",천황식당,사무실_식대비,경상남도 진주시 대안동 4-1,4,NaN,055-741-2646,128.0844789,35.1961301,경상남도 진주시 촉석로207번길 3
402,17_001795,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.5.22,지역주요사업관련논의정책개발보좌직원간담회,"376,000",나리스키친,사무실_식대비,서울특별시 영등포구 여의도동 23-7,4,NaN,032-620-5690,126.7785336,37.4970566,경기도 부천시 신흥로 150
405,17_001838,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.6.16,정책개발조찬간담회,"715,000",슈치쿠,간담회_식대,서울특별시 영등포구 63로 50,4,NaN,02-789-5751,126.9400457,37.5197126,서울특별시 영등포구 63로 50 58층
407,17_001840,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.6.16,정책개발기자간담회(인구감소지역발전특별법제정관련),"350,000",소도수사,언론_기자식대등,서울특별시 영등포구 의사당대로1길 11,4,NaN,02-783-5724,126.9285914,37.5192148,서울특별시 영등포구 의사당대로1길 11
410,17_001846,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.6.20,정책개발기자간담회,"413,000",장어가조타,언론_기자식대등,서울특별시 영등포구 여의도동 36,4,NaN,02-780-6030,126.9264116,37.5201766,서울특별시 영등포구 의사당대로 127
422,17_001955,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.9.11,상임위주요현안관련정책개발보좌직원간담회,"174,000",해우리서여의도점,사무실_식대비,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
444,17_002071,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.14,행안위위원상임위현안관련오찬간담회,"469,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로 1 의정관 6층,4,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
446,17_002075,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.16,국정현안등의견청취정책개발기자간담회,"174,000",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
452,17_002097,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.22,정책개발기자간담회,"261,000",해우리서여의도점,언론_기자식대등,서울특별시 영등포구 여의도동 16-2 1층,4,NaN,02-761-4997,126.9226925,37.5281688,서울특별시 영등포구 은행로 30 중소기업중앙회
456,17_002104,5,강석호,자유한국당,200,경북 영양군영덕군봉화군울진군,2017.11.24,정책개발기자간담회,"640,000",쿠치나후,언론_기자식대등,서울특별시 영등포구 의사당대로 1 의정관 6층,4,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2700,17_018106,356,김성수,더불어민주당,100,비례대표,2017.1.2,국정농단사태관련반장단오찬,"114,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로1 의정관,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2701,17_018107,356,김성수,더불어민주당,100,비례대표,2017.1.13,국정농단사태관련꾸미기자단간담회,"280,000",쿠치나후,언론_기자식대등,서울특별시 영등포구 의사당대로1 의정관,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2709,17_018117,356,김성수,더불어민주당,100,비례대표,2017.1.24,언론공정성실현모임위원저녁간담회,"315,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로1 의정관,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2712,17_018126,356,김성수,더불어민주당,100,비례대표,2017.2.1,미방위결산관련의원간담회,"52,000",마포닭곰탕,간담회_식대,서울특별시 마포구 토정로 25길 43,6,NaN,02-6404-1989,126.9400836,37.5449347,서울특별시 마포구 토정로25길 43
2716,17_018130,356,김성수,더불어민주당,100,비례대표,2017.2.4,일산기자단현안관련만찬간담회,"86,000",안뽀,언론_기자식대등,경기도 고양시 일산동구 강송로 33,6,NaN,,128.5813500,35.8811333,대구광역시 북구 고성로28길 2-1
2717,17_018132,356,김성수,더불어민주당,100,비례대표,2017.2.9,반장단기자단현안간담회,"170,000",참배나무골여의도점,언론_기자식대등,서울특별시 영등포구 국회대로 62길 25,6,NaN,02-780-5292,126.9177349,37.5263047,서울특별시 영등포구 국회대로62길 25 교육시설재난공제회관
2719,17_018134,356,김성수,더불어민주당,100,비례대표,2017.2.11,반장단만찬간담회,"190,000",스미스가좋아하는한옥,언론_기자식대등,서울특별시 종로구 사간동 62-1,6,NaN,02-722-7003,126.9800740,37.5778400,서울특별시 종로구 삼청로 22-7
2724,17_018139,356,김성수,더불어민주당,100,비례대표,2017.2.17,국정현안관련점심간담회,"179,000",쿠치나후,간담회_식대,서울특별시 영등포구 의사당대로 1,6,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
2725,17_018140,356,김성수,더불어민주당,100,비례대표,2017.2.19,의원단오찬,"32,000",윤선희의평양면옥,간담회_식대,경기도 고양시 일산동구 마두동 999-4 8-6,6,NaN,031-923-9913,126.7907203,37.6467142,경기도 고양시 일산동구 강송로74번길 8-6
2727,17_018142,356,김성수,더불어민주당,100,비례대표,2017.2.23,한국일보기자단오찬간담회,"191,000",참배나무골여의도점,언론_기자식대등,서울특별시 영등포구 국회대로 62길 25,6,NaN,02-780-5292,126.9177349,37.5263047,서울특별시 영등포구 국회대로62길 25 교육시설재난공제회관
2730,17_018156,356,김성수,더불어민주당,100,비례대표,2017.3.3,지방지기자단만찬간담회,"208,000",스미스가좋아하는한옥,언론_기자식대등,서울특별시 종로구 사간동 62-1,6,NaN,02-722-7003,126.9800740,37.5778400,서울특별시 종로구 삼청로 22-7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11713,17_077909,185,유승민,바른정당,2020,대구 동구을,2017.10.6,식대,"90,000",알라또레,간담회_식대,서울특별시 마포구 서교동 343-11,2,NaN,02-324-0978,126.9247591,37.5534751,서울특별시 마포구 와우산로23길 8 더모임 빌딩 5층
11715,17_077916,185,유승민,바른정당,2020,대구 동구을,2017.10.9,식대,"79,000",알라또레,간담회_식대,서울특별시 마포구 서교동 343-11,2,NaN,02-324-0978,126.9247591,37.5534751,서울특별시 마포구 와우산로23길 8 더모임 빌딩 5층
11719,17_077938,185,유승민,바른정당,2020,대구 동구을,2017.10.17,기자현안간담회,"324,000",알라또레,언론_기자식대등,서울특별시 마포구 서교동 343-11,2,NaN,02-324-0978,126.9247591,37.5534751,서울특별시 마포구 와우산로23길 8 더모임 빌딩 5층
17120,17_112383,276,정우택,자유한국당,200,충북 청주시상당구,2017.1.10,기관협의관련간담회비,"331,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 맨하탄빌딩 1층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17135,17_112412,276,정우택,자유한국당,200,충북 청주시상당구,2017.1.23,기관협의관련간담회비,"553,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 맨하탄빌딩 1층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17145,17_112449,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.27,정책협의관련티타임비,"88,000",신라스테이역삼카페,간담회_다과,서울특별시 강남구 언주로 517,1,NaN,02-2054-9107,127.0413052,37.5046344,서울특별시 강남구 언주로 517 3층
17146,17_112453,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.28,기관협의관련간담회비,"260,000",코마찌,간담회_식대,서울특별시 광진구 아차산로 76길 19,1,NaN,02-452-2336,127.1080136,37.5473242,서울특별시 광진구 아차산로76길 19
17156,17_112471,276,정우택,자유한국당,200,충북 청주시상당구,2017.2.7,기관협의관련간담회비,"318,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 맨하탄빌딩 1층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17158,17_112473,276,정우택,자유한국당,200,충북 청주시상당구,2017.2.7,정책협의관련간담회비,"943,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17176,17_112515,276,정우택,자유한국당,200,충북 청주시상당구,2017.2.27,기관협의관련간담회비,"241,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17180,17_112529,276,정우택,자유한국당,200,충북 청주시상당구,2017.3.6,정책협의관련간담회비,"541,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17194,17_112552,276,정우택,자유한국당,200,충북 청주시상당구,2017.3.17,정책협의관련간담회비,"203,000",미당한정식,간담회_식대,서울특별시 종로구 경희궁1길 6,1,NaN,041-362-1500,126.7399860,36.8061610,충청남도 당진시 합덕읍 합덕대덕로 502-22 미당
17210,17_112682,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.18,정책협의관련간담회비,"330,500",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17219,17_112698,276,정우택,자유한국당,200,충북 청주시상당구,2017.7.25,정책협의관련티타임비,"381,000",쿠치나후,간담회_다과,서울특별시 영등포구 의사당대로 1,1,NaN,02-3775-3634,126.9179314,37.5316126,서울특별시 영등포구 의사당대로 1 국회
17223,17_112713,276,정우택,자유한국당,200,충북 청주시상당구,2017.8.7,정책협의관련간담회비,"282,000",서초삿뽀로,간담회_식대,서울특별시 서초구 서초중앙로 195,1,NaN,02-3477-5544,127.0121046,37.4991748,서울특별시 서초구 서초중앙로 195
17227,17_112725,276,정우택,자유한국당,200,충북 청주시상당구,2017.8.14,정책협의관련간담회비,"375,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17233,17_112736,276,정우택,자유한국당,200,충북 청주시상당구,2017.8.23,정책협의관련간담회비,"460,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17237,17_112752,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.1,정책협의관련간담회비,"162,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17239,17_112755,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.4,정책협의관련간담회비,"206,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17244,17_112770,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.13,정책협의관련간담회비,"184,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17247,17_112773,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.14,기관협의관련간담회비,"123,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17254,17_112809,276,정우택,자유한국당,200,충북 청주시상당구,2017.9.26,정책협의관련간담회비,"283,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17260,17_112825,276,정우택,자유한국당,200,충북 청주시상당구,2017.10.11,정책협의관련간담회비,"146,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17264,17_112834,276,정우택,자유한국당,200,충북 청주시상당구,2017.10.19,정책협의관련간담회비,"522,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17268,17_112865,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.10,정책협의관련간담회비,"319,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17272,17_112871,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.16,기관협의관련간담회비,"247,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17275,17_112887,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.27,기관협의관련간담회비,"329,000",키사라여의도,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-3773-1252,126.9296710,37.5280840,서울특별시 영등포구 여의대로 128 LG트윈타워 동관 5층
17277,17_112890,276,정우택,자유한국당,200,충북 청주시상당구,2017.11.29,기관협의관련간담회비,"513,500",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17279,17_112898,276,정우택,자유한국당,200,충북 청주시상당구,2017.12.1,정책협의관련간담회비,"426,000",차이나프로,간담회_식대,서울특별시 영등포구 여의도동 LG트윈타워 동관5층,1,NaN,02-783-0150,126.9216390,37.5294740,서울특별시 영등포구 국회대로74길 20 맨하탄21리빙텔 1층
17284,17_112906,276,정우택,자유한국당,200,충북 청주시상당구,2017.12.7,기관협의관련간담회비,"535,000",창고43VIP점,간담회_식대,서울특별시 영등포구 국회대로70길 15-1,1,NaN,02-785-2992,126.9202803,37.5296024,서울특별시 영등포구 국회대로70길 15-1 극동브이아이피빌딩